:root{
    --primary: #880101;
    --sekunder: #363636;
    /* #910000 
    3D0000*/
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #060606;
    color: #fff;
}


/* navigasi */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 5%;
    background-color: rgba(5, 5, 5, 0.69);
    border-bottom: 3px solid #363636a3;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
#bar_menu{
    color: #fff;
    font-size: 1.8rem;
    margin-right: 1rem;
}
#bar_menu:hover{
    color: var(--primary);
}
#bar_menu{
    display: none;
}
.navbar_logo{
    font-size: 2rem;
    font-weight: 800;
    color: #fff;
    font-style: italic;
}
.navbar_logo span{
    color: var(--primary);
}
.navbar_menu a{
    color: #fff;
    font-size: 1.5rem;
    margin: 0 2rem;
    font-weight: 500;
}
.navbar_menu a:hover{
    color: var(--primary);
    border-bottom: 0.2rem solid var(--primary);
}
.navbar_user{
    display: flex;
    align-items: center;
}
.navbar_user a{
    color: #fff;
    font-size: 1.5rem;
    margin: 0 0.8rem;
}
.navbar_user a:hover{
    color: var(--primary);
}
.search{
    position: relative;
    justify-content: center;
    display: flex;
    z-index: 10;
    cursor: pointer;
}
.searchBox{
    position: absolute;
    left: -100%;
    width: 85%;
    height: 50%;
    border-radius: 50px;
    display: flex;
    background: var(--sekunder);
    align-items: center;
    padding: 0 2rem;
    transition: 0.5s ease-in-out;
}
.searchBox.active{
    left: 4.5%;
}
.searchBox input{
    width: 100%;
    border: 2px;
    background: var(--sekunder);
    color: #fff ;
    outline: none;
    height: 2rem;
    font-size: 1rem;
    font-weight: 500;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
#close_search{
    display: none;
}
#close_search.active{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

/* favorite navbar */
.navbar_user_fav{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.navbar_user_fav a{
    color: #fff;
    font-size: 1.5rem;
    margin: 0 0.8rem;
}
.navbar_user_fav a:hover{
    color: var(--primary);
}


/* .navbar_user{
    width: 30%;
    height: 4vh;
    background: #fff;
    position: relative;
    display: none;
}
.navbar_user #search{
    position: absolute;
    left: 1rem;
}
.navbar_user.active{
    width: 100%;
} */
/* .navbar_user{
    position: absolute;
    top: 5%;
    right: 100%;
    left: 100%;
    background-color: #141414a3;
    width: 100%;
    height: 20vh;
    transition: 0.5s;
} */
/* .slider_bg{
    max-width: 100vw;
    width: 1400px;
    height: 10%;
    margin: auto;
    position: relative;
} */


/* slider background */
.list_bg{
    position: flex;
    left: 0;
    height: 80vh;
    display: flex;
    width: max-content;
    transition: 1s;
}
.list_bg img{
    width: 1400px;
    max-width: 100vw;
    height: 900px;
    object-fit: cover;
}
.buttons_slider{
    position: absolute;
    left: 3%;
    width: 93%;
    display: flex;
    justify-content: space-between;
}
.buttons_slider button{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #ffffff51;
    color: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.slider_bg .dots_slider{
    position: absolute;
    bottom: 10px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    top: 850px;
}
.dots_slider li{
    list-style: none;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #ffffffaa;
    margin: 1rem;
    border-radius: 20px;
    transition: 1s;
}
.dots_slider li.active{
    width: 1.5rem;
}


/* nasional&internasional section dan halaman gambar*/
.container-section{
    position: flex;
    overflow: auto;
    text-align: left;
    align-items: center;
    color: white;
    padding-top: 8%;
}
.container-section .heading{
    width: 50%;
    padding-bottom: 50px;
    margin: 0 auto;
}
.container-section .heading h3 {
    font-size: 2.5rem;
    font-weight: 800;
    border-bottom: 2px solid #f2f2f2;
    padding-bottom: 5px;
    text-align: center; /* Menengahkan teks judul */
}
.container-section .heading h3 span{
    color: var(--primary);  
    font-style: italic;
}
.container_gallery{
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
}
.gallery {
    align-items: center;
    margin: 10px;
    border: 1px solid #000;
    float: left;
    width: 390;
}
.gallery a {
    color: white; /* Mengatur warna tulisan di link */
    text-decoration: none; /* Menghilangkan garis bawah di link */
}
.gallery img {
    width: 20vw;
    height:auto;
}
.desc {
    position: flex;
    padding: 15px;
    width: 100%;
    justify-content: space-between;
}
.desc i {
    position: flex;
    color: white;
    margin-left: 6rem;
}
.desc i:hover {
    color: var(--primary);
}
.container-hal_gambar {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--sekunder);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}  
h1 {
    text-align: center;
    margin-bottom: 20px;
}
.image-container {
    text-align: center;
    margin-bottom: 20px;
}  
.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}    
.image-list {
    text-align: center;
}
.image-list li {
    list-style: none; /* Hapus gaya daftar bawaan */
    margin-bottom: 5px; /* Berikan margin bawah antar item */
    font-weight: bold; 
}    
.image-description {
    text-align: left; /* Mengatur deskripsi gambar menjadi rata kiri */
    margin-top: 10px;
    font-style: italic;
    white-space: pre-wrap; /* Mengatur agar teks membentuk paragraf */
    /* CSS Reset or Normalize */
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: var(--sekunder);
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    h1 {
        text-align: center;
        margin-bottom: 20px;
    }
    .image-container {
        text-align: center;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column; /* Membuat item dalam container sejajar secara vertikal */
        align-items: flex-start; /* Membuat item dalam container sejajar dari kiri ke kanan */
    }
    .image-container img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
    } 
    .image-details {
        margin-left: 10px; /* Memberikan jarak antara gambar dan detail */
    }
    .image-list {
        list-style: none; /* Hapus gaya daftar bawaan */
        margin-bottom: 5px; /* Berikan margin bawah antar item */
        font-weight: bold;
    }
    .image-description {
        font-style: italic;
        margin-top: 10px;
    } 
    .comment-section {
        max-width: 500px; /* Sesuaikan lebar maksimum yang diinginkan */
        margin: 20px auto; /* Untuk memastikan kolom komentar berada di tengah */
        padding: 20px;
        background-color: #827979;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }   
    #comment-form textarea {
        width: calc(100% - 20px); /* Menggunakan kalkulasi untuk lebar textarea dengan margin */
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }  
    #comment-form input[type="submit"] {
        width: calc(100% - 20px); /* Menggunakan kalkulasi untuk lebar tombol dengan margin */
        padding: 10px 0;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    #comment-form input[type="submit"]:hover {
        background-color: #0056b3;
    }
}    
.subtitle {
    text-align: center;
    font-style: italic;
    margin-bottom: 10px;
} 
.image-description {
    text-align: center;
    font-style: italic;
}
.comment-section {
    max-width: 500px; /* Sesuaikan lebar maksimum yang diinginkan */
    margin: 20px auto; /* Untuk memastikan kolom komentar berada di tengah */
    padding: 20px;
    background-color: #ecececaa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} 
#comment-form textarea {
    width: calc(100% - 20px); /* Menggunakan kalkulasi untuk lebar textarea dengan margin */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
#comment-form input[type="submit"] {
    width: calc(100% - 20px); /* Menggunakan kalkulasi untuk lebar tombol dengan margin */
    padding: 10px 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#comment-form input[type="submit"]:hover {
    background-color: #0056b3;
}


/* rekomendasi */
.rekomendasi{
    position: flex;
    overflow: auto;
    text-align: left;
    align-items: center;
    color: white;
    padding-top: 45%;
    border: 2px #363636;
}
.container-rekomendasi .list_rekomendasi{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}


/* seniman */
.seniman{
    position: flex;
    overflow: auto;
    text-align: left;
    align-items: center;
    color: white;
    padding-top: 45%;
    border: 2px #363636;
}


/* pelaku seni */
.container-pelaku_seni {
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
h2 {
    font-family: 'Roboto', sans-serif; /* Use Roboto font */
    font-size: 36px; /* Increase font size for emphasis */
    font-weight: 700; /* Bold font */
    margin-bottom: 10px;
    color: white;
}
.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Center the image */
}
.text-container {
    color: white;
    margin-top: 20px; /* Add some space between the image and text */
}
.text-container p {
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
}


/* favorite */
.container-favorite{
    position: flex;
    overflow: auto;
    text-align: left;
    align-items: center;
    color: white;
    padding-top: 8%;
}
.container-favorite .heading{
    padding-bottom: 20px;
    margin: 0 auto;
    font-weight: 800;
    border-bottom: 2px solid #f2f2f2;
}
.allert{
    background: var(--primary);
    width: 20rem;
    height: 3rem;
    margin: auto;
    margin-top: 10rem;
    border-radius: 50px;
    text-align: center;
    align-content: center;
    padding: 0.6rem;
}
.allert a{
    color: #fff;
    font-size: 1.5rem;
    margin: 0 2rem;
    font-weight: 500;
}
.allert:hover{
    background-color: #ffffff51;
}
.container-favorite .heading h3 {
    font-size: 2.5rem;
    padding-bottom: 5px;
    text-align: center; /* Menengahkan teks judul */
}


/* footer */
footer{
    position: flex;
    margin-top: 20rem;
    background: var(--primary);
    height: auto;
    width: 100wv;
    font-family: "Open Sans";
    padding-top: 1rem;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 2rem;
    color: #fff;
}
.footer-content p{
    max-width: 100rem;
    margin: 0.5rem;
    line-height: 2rem;
    font-size: 1rem;
    color: #fff;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0 2rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: #000;
}
.footer-bottom{
    background: #060606;
    width: 100vw;
    padding: 1.8rem 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 1rem;
    word-spacing: 0.1rem;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    color: var(--primary) !important;
    font-weight: 600;
}